/* 颜色 */
:root {
  --anzhiyu-white: #fff;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-snackbar-time: 2000ms;
  --anzhiyu-theme: #3b70fc;
}
[data-theme="light"] {
  --anzhiyu-theme: #3b70fc;
}
[data-theme="dark"] {
  --anzhiyu-theme: #0084ff;
}

.snackbar-container {
  transition: all 500ms ease;
  transition-property: top, right, bottom, left, opacity;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  min-height: 14px;
  background-color: #070b0e;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  line-height: 22px;
  /* padding: 18px 24px; */
  bottom: -100px;
  top: -100px;
  opacity: 0;
  z-index: 9999;
}
.snackbar-container .action {
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  text-transform: uppercase;
  color: #4caf50;
  margin: 0 0 0 24px;
  padding: 0;
  min-width: min-content;
  cursor: pointer;
}

@media (min-width: 640px) {
  .snackbar-container {
    min-width: 288px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 2px;
    margin: 24px;
  }
}

@media (max-width: 640px) {
  .snackbar-container {
    left: 0;
    right: 0;
    width: 100%;
  }
}

.snackbar-pos.bottom-center {
  top: auto !important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.snackbar-pos.bottom-left {
  top: auto !important;
  bottom: 0;
  left: 0;
}

.snackbar-pos.bottom-right {
  top: auto !important;
  bottom: 0;
  right: 0;
}

.snackbar-pos.top-left {
  bottom: auto !important;
  top: 0;
  left: 0;
}

.snackbar-pos.top-center {
  bottom: auto !important;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.snackbar-pos.top-right {
  bottom: auto !important;
  top: 0;
  right: 0;
}

@media (max-width: 640px) {
  .snackbar-pos.bottom-center,
  .snackbar-pos.top-center {
    left: 0;
    transform: none;
  }
}
:root {
  --anzhiyu-snackbar-time: 2000ms;
}
.snackbar-container {
  background: var(--anzhiyu-main) !important;
  color: var(--anzhiyu-white) !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center !important;
  max-width: none !important;
  min-width: 100% !important;
  margin: 0;
  left: 0 !important;
  height: 60px !important;
  transform: none !important;
  margin: 0 !important;
}
.snackbar-container p {
  font-weight: 700 !important;
  text-align: center !important;
  font-size: 1.1rem !important;
}
.snackbar-container .action {
  color: var(--anzhiyu-white) !important;
  padding: 4px 6px !important;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.3s;
  border: var(--style-border) !important;
}
.snackbar-container .action:hover {
  color: var(--anzhiyu-main) !important;
  background: var(--anzhiyu-white);
}
.snackbar-container::after {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--anzhiyu-white);
  opacity: 0.1;
  content: "";
  animation: snackbar-progress var(--anzhiyu-snackbar-time) linear forwards;
  pointer-events: none;
}
@keyframes snackbar-progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
